<form action="" class="form" (ngSubmit)="onSubmit()">
    <label>Nume<input type="text" name="nume" [(ngModel)]="nume"></label>
    <label>Prenume<input type="text" name="prenume" [(ngModel)]="prenume"></label>
    <label>Email<input type="text" name="email" [(ngModel)]="email"></label>
    <label>Password<input type="password" name="password" [(ngModel)]="password"></label>
    <div>
    <app-tech-item *ngFor="let techItemRecieved of tech" [techItemRecieved]='techItemRecieved' (manageTech)="manageTech($event)"></app-tech-item>
    </div>
    <p *ngIf="!isValid">Try again</p>
    <input type="submit" value="Submit" class="btn">
  
</form>
