<div class="container">
  <div>
    <h4 class="project-name">{{ project.name }}</h4>
    <p>Owner: {{ project.ownerName }}</p>
    <p>
      {{ project.description }}
    </p>
    <button class="btn btn-primary" (click)="joinProject()" *ngIf="!userIsOwner">
      Join now
    </button>
  </div>
  <hr />
  <div>
    <h5 class="needed-tech">Needed technologies:</h5>
    <div class="tech-container">
      <div class="tech" *ngFor="let tech of project.technologies">
        {{ tech }}
      </div>
    </div>
    <h5 class="requirements">Requirements:</h5>
    <p>No other requirements.</p>
  </div>
  <hr />
  <div>
    <h5 class="collaborators">Collaborators:</h5>
    <p *ngFor="let collab of collaborators">{{collab}}</p>
    <br />
    <h5>Need more collaborators?</h5>
    <h5>Search through our recommendations:</h5>
    <app-users-suggestions></app-users-suggestions>
  </div>
</div>
