<div class="container">
  <div>
    <h4 class="project-name">Electric Project</h4>
    <p>Owner: Buraga Cornelius</p>
    <p>
      Sa se creeze un mash-up Web menit sa gestioneze in timp-real a fluxurile
      de activitati dintr-un lant de furnizori de energie, baterii si
      acumulatori speciali pentru drone, biciclete si autoturisme electrice.
      This is a very beautiful description and a very beautiful description and
      a very beautiful description.
    </p>
    <button class="btn btn-primary" (click)="joinProject()">
      Join now
    </button>
  </div>
  <hr />
  <div>
    <h5 class="needed-tech">Needed technologies:</h5>
    <div class="tech">
      <!-- <app-tech-item
        *ngFor="let techItemRecieved of neededTech"
        [techItem]="TechItem"
      ></app-tech-item> -->
    </div>
    <h5 class="requirements">Requirements:</h5>
    <p>No other requirements.</p>
  </div>
  <hr />
  <div>
    <h5 class="collaborators">Collaborators:</h5>
    <p>Julio Ricardo</p>
    <p>Ramirez</p>
    <br />
    <h5>Need more collaborators?</h5>
    <h5>Search through our recommendations:</h5>
    <app-users-suggestions></app-users-suggestions>
  </div>
</div>
