<div id="container">
    <div id="secondContainer">
<div id="description">
 <h4>Create your project</h4>
 <p id="createManage">Create and manage your own project ! Set up the plan now, then gather your team in order to build 
     a succesful application with your collaborators</p>
</div>
<div id="form">
    <form>
        <label for="projectName">Project name</label>
        <p>Great projects have short and memorable names</p>
        <input type="text" id="projectName" name="projectName" placeholder="Project name..">
        
        <label for="projectDescription">Description</label>
        <p>Tell the others the main infos to convince them to join you</p>
        <textarea id="projectDescription" name="projectDescription" placeholder="Project description.."></textarea>
          
        <label for="nonTechnicalRequirements">Non-technical requirements</label>
        <p>e.g:hindi required</p>
        <input type="text" id="nonTechnicalRequirements" name="nonTechnicalRequirements">

        <p id="neededTech">Needed technologies:</p>
        <app-tech-item></app-tech-item>
        <input id="submit" type="submit" value="Publish">
    </form>
</div>
</div>
</div>
