<div id="container">
    <div id ="userLeft">
    
        <img src='../../../assets/profilepic.jpg'>
        <div id="userDescription">
        <p id="userName">Julio Ricardo Montoya de la Rosa Ramirez</p>
        <p id="accountType">Premium</p>
        <p id="gender">Gender</p>
        <p id="cityCountry">City,Country</p>
        </div>
    
        <button id="editProfile"><p># Edit profile</p></button>
    </div>
    <div id ="userRight">
    
        <div id="userProfile">
            <p>Profile:</p>
            <p>These are some things you should know about me,
                 so you know who you collaborate with,some skills,languages I speak,
                things I'd like to learn.This is a very beautiful description and a 
            very beautiful description and a very beautiful description. :)</p>
        </div>
    
        
        <div id="userKnownTechnologies">
                <p>Known technologies:</p>
                <ul>
                    <li>.Net</li>
                    <li>.Net</li>
                    <li>.Net</li>
                    <li>.Net</li>
                    <li>.Net</li>
                    <li>.Net</li>
                </ul>
            </div>
    
        <div id="userContributions">
                    <p>Contributions on platform:</p>
                    <p>Current projects</p>
                    <p id="currentProjects">
                        Currently not working on any project on this platform
                    </p>
                    <p>Past projects</p>
                    <p id="pastProjects"></p>
                        <ul>
                            <li>Electrik Project</li>
                            <li>FII STUDENT</li>
                        </ul>
             </div>
    
             
        <div id="userReviews">
                <p>My Reviews:</p>
                <p>No reviews yet.</p>
         </div>
    
    </div>
    </div>
