<div class="container">
    <div class='info-container'>
        <p class='projectName'>{{projectRecieved.name}} <span class="author"><a [routerLink]="['/user-profile', projectRecieved.ownerId]">-{{projectRecieved.ownerName}}</a></span></p>
        <div class="projectDescription">{{projectRecieved.description}}</div>
        <div class="bottom-container">
            <a href="" class="seeMore">see more>></a>
            <div class="tech-container" >
                <div class='tech' *ngFor="let tech of projectRecieved.technologies">{{tech}}</div>
             </div>
        </div>
    </div>
    <button class="btn joinBtn" (click)=sendInvite()>Join now</button>
    
</div>
<hr>
