@import './../../../assets/colors.scss';
div#container{
    position:absolute;
    background-repeat: no-repeat;
    width: 100%;
   
    background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)),url('../../../assets/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
div#secondContainer{
    margin-left: 5vw;
    margin-right: 5vw;
}
h5 {
overflow: hidden;
text-align: center;
margin-top: 4vh;
color: rgb(32, 117, 163);
}

h5:before,
h5:after {
background-color: rgb(32, 117, 163);
content: "";
display: inline-block;
height: 1px;
position: relative;
vertical-align: middle;
width: 50%;
}

h5:before {
right: 0.5em;
margin-left: -50%;
}

h5:after {
left: 0.5em;
margin-right: -50%;
}
div#myOwnProjects{
    position:absolute;
    width: 45vw;

}
div#myOwnProjects{
    position:absolute;
    margin-left: 10vw;
    width: 22.5vw;
    margin-top: 2vh;
    p{
        color: rgb(32, 117, 163);
        font-weight: 500;
    }
}
div#myContributions{
    position:absolute;
    margin-left: 55vw;
    width: 45vw;
    margin-top: 2vh;
    p{
        color: rgb(32, 117, 163);
        font-weight: 500;
    }
}
p#createProject:hover{
    cursor: pointer;
}
#pendingsHeader{
    margin-top: 200px;
}
#cards{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    
}
