<div id="container">
    <div id="secondContainer">
<div id="myProjects">
        <h5>My projects</h5>

    <div id="myOwnProjects">
        <p>My own projects:</p>
        <ul>
            <li>Electrik Project</li>
            <li>Trains</li>
        </ul>
       <p id="createProject">+ Create your own project</p>
    </div>
    <div id="myContributions">
         <p>My contributions:</p>
         <ul>
             <li>Nice Project</li>
             <li>FII Student</li>
         </ul>
    </div>
</div>
<div id="pendings">
    <h5 id="pendingsHeader">Pendings</h5>
    <div id="cards">
        <div id="card">

            <p id="projectTitle">Trains</p>
            <img src='../../../assets/profilepic.jpg'>
            <p id="imgDescription">Anna Karenina</p>
            <p id="knownTehnologies">Known tehnologies : <br/>Javascript,Javascript,Javascript</p>
            <a id="seeMore" href=''>See more</a>
            <p>or</p>
            <button class="btn btn--danger" id="reject" value="hello">Reject</button>
            <button class="btn btn--success" id="accept">Accept</button>

        </div>
        <div id="card">

                <p id="projectTitle">Trains</p>
                <img src='../../../assets/profilepic.jpg'>
                <p id="imgDescription">Anna Karenina</p>
                <p id="knownTehnologies">Known tehnologies : <br/>Javascript,Javascript,Javascript</p>
                <a id="seeMore" href=''>See more</a>
                <p>or</p>
                <button class="btn btn--danger" id="reject" value="hello">Reject</button>
                <button class="btn btn--success" id="accept">Accept</button>

        </div>
        <div id="card">

                <p id="projectTitle">Trains</p>
                <img src='../../../assets/profilepic.jpg'>
                <p id="imgDescription">Anna Karenina</p>
                <p id="knownTehnologies">Known tehnologies : <br/>Javascript,Javascript,Javascript</p>
                <a id="seeMore" href=''>See more</a>
                <p>or</p>
                <button class="btn btn--danger" id="reject" value="hello">Reject</button>
                <button class="btn btn--success" id="accept">Accept</button>

        </div>
        <div id="card">

                <p id="projectTitle">Trains</p>
                <img src='../../../assets/profilepic.jpg'>
                <p id="imgDescription">Anna Karenina</p>
                <p id="knownTehnologies">Known tehnologies : <br/>Javascript,Javascript,Javascript</p>
                <a id="seeMore" href=''>See more</a>
                <p>or</p>
                <button class="btn btn--danger" id="reject" value="hello">Reject</button>
                <button class="btn btn--success" id="accept">Accept</button>

        </div>
        <div id="card">

                <p id="projectTitle">Trains</p>
                <img src='../../../assets/profilepic.jpg'>
                <p id="imgDescription">Anna Karenina</p>
                <p id="knownTehnologies">Known tehnologies : <br/>Javascript,Javascript,Javascript</p>
                <a id="seeMore" href=''>See more</a>
                <p>or</p>
                <button class="btn btn--danger" id="reject" value="hello">Reject</button>
                <button class="btn btn--success" id="accept">Accept</button>

        </div>
    </div>
</div>
</div>
</div>