<div id="card">

        <p id="projectTitle">{{card.projectName}}
        </p>
        <img src='../../../assets/tapet-free-as-a-bird-R10151-1.jpg'>
        <p id="imgDescription">{{name}}</p>
        <p id="knownTehnologies">Known tehnologies : <br/>{{technologies}}</p>
        <a id="seeMore" [routerLink]="['/user-profile',card.collaboratorId]" routerLinkActive="router-link-active" >See more</a>
        <p>or</p>
        <button class="btn btn--danger" id="reject" value="hello">Reject</button>
        <button class="btn btn--success" id="accept">Accept</button>

</div>